.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 2rem;
  background-color: rgba(177, 174, 97, 0.81);
}

h2 {
  font-size: 1.55rem;
  border-bottom: 1px solid #6f6f6f;
  line-height: 60px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
